<!-- <div class="bathroom-single-container">
  <div class="bathroom-details"> -->
    <!-- <a class="linktonew" href="/tasks/new"><button type="button" name="add"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Add A New Task</button></a> -->
    <!-- <a class="linktosingle" href="/"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>Back</a>
    <div class="meta">
      <span class="name"><%= task.title %></span>
      <span class="price"> <%= (task.status) ? 'To-do' : 'Done' %></span>
      <span class="accessible"> <%= (task.status) ? 'To-do' : 'Done' %></span>
      <span class="unisex"> <%= (task.status) ? 'To-do' : 'Done' %></span>
      <span class="address"><%= task.category %></span>
      <span class="directions"><%= task.description %></span>
      <div class="detailed-directions">
      </div>
    </div>
  </div>
</div> -->
<%= console.log(json.name)%>
